# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore environment directories
env/
venv/
ENV/
.venv/
new_vnev/

# Ignore distribution and packaging directories
build/
dist/
*.egg-info/

# Ignore log files
*.log

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project